.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
    padding: 20px;
}

.quiz-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.quiz-box,
.result-box {
    background: linear-gradient(135deg, #0f5a11, #2489dc);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quiz-container h2 {
    color: black;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 50px;
    margin-top: -6rem;
}

.options {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.option-btn {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background: #eef2ff;
    border: 2px solid #2c7a7b;
    width: 100%;
    color: black;
}

.option-btn:hover {
    background: #2c7a7b;
    color: black;
}

.correct {
    background: #28a745 !important;
    color: white;
}

.incorrect {
    background: #dc3545 !important;
    color: white;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-box h3 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    animation: fadeIn 1s ease-in-out;
}

.result-box p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: black;
}

/* Animation for quiz completion text */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}