.contact-container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background: linear-gradient(135deg, #0f5a11, #2489dc);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

textarea {
    height: 80px;
    resize: none;
}



.error {
    color: rgb(113, 20, 20);
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 16px;
    margin-bottom: 10px;
}